<!DOCTYPE html>
<html>
<head>
  <title>DevOps Pipeline</title>
  <style>
    body { font-family: Arial; text-align: center; background: #111; color: #fff; }
    .box { margin-top: 100px; }
    span { display: block; margin: 10px; padding: 10px; border: 1px solid #444; }
  </style>
</head>
<body>
  <div class="box">
    <h1>Sarvesh Gugale</h1>
    <h1>DevOps Zero to Hero 🚀</h1>
    <span>✅ Code Built</span>
    <span>✅ Lint Checked (Flake8)</span>
    <span>✅ Tested</span>
    <span>✅ Dockerized</span>
    <span>✅ Deployed via GitHub Actions</span>
  </div>
</body>
</html>